<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12695954473-qesh01qb1urr76ma4ic1hjhmaj1fi7h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12695954473-qesh01qb1urr76ma4ic1hjhmaj1fi7h4</string>
	<key>API_KEY</key>
	<string>AIzaSyDNEiAXn2QW1gCN4sxMjZcpR9kRVm0udu4</string>
	<key>GCM_SENDER_ID</key>
	<string>12695954473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasliang.window</string>
	<key>PROJECT_ID</key>
	<string>window-dbb50</string>
	<key>STORAGE_BUCKET</key>
	<string>window-dbb50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12695954473:ios:f218cd959bee87e0a22838</string>
	<key>DATABASE_URL</key>
	<string>https://window-dbb50.firebaseio.com</string>
</dict>
</plist>